<div class="div" style="background-image: url(assets/bg2.jpg); background-size: cover;height: 540px;" >
<app-header></app-header>
<br>
<div class="container-fluid">
  <div class="row">
    <!-- <div style="width: 200px;"> -->
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;margin-top: 20px;">
        <div class="card-body">

          <form (ngSubmit)="onSubmit()">
            <h4><span style="color: mediumblue;">Item Data </span></h4><hr>
            <div class="form-group">
              
              <input type="text" class="formcontrol" style="width: 250px;" placeholder="Enter Name..." id="item" required
                [(ngModel)]="itemName" name="item">
            </div>
            <div class="form-group">
              
              <input type="text" class="formcontrol" style="width: 250px;" placeholder="Enter Address..." id="item" required
                [(ngModel)]="itemAddress" name="item">
            </div>
            <div class="form-group">
              
              <input type="text" class="formcontrol" style="width: 250px;" placeholder="Enter Email..." id="item" required
                [(ngModel)]="itemEmail" name="item">
            </div>
            <div class="form-group">
              
              <input type="text" class="formcontrol" style="width: 250px;" placeholder="Enter Location..." id="item" required
                [(ngModel)]="itemLocation" name="item">
            </div>
            <div class="form-group">
              
              <input type="text" class="formcontrol" style="width: 250px;" placeholder="Enter Contact..." id="item" required
                [(ngModel)]="itemContact" name="item">
            </div><br>
            <div class="btn-group">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;margin-top: 20px;">
        <div class="card-body">
          <h4><span style="color: mediumblue;">Content from Firebase </span></h4><hr>
          <p *ngFor="let item of items | async">
            {{item.Name}}
            {{item.Address}}
            {{item.Email}}
            {{item.Loction}}
            {{item.Contact}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<app-footer></app-footer>
</div>